{% block pageheader %}
    <div class="header">
        <div class="content-container">
            <div class="header__title">
                <h1>Zadanie rekrutacyjne</h1>
            </div>
        </div>
    </div>
{% endblock %}